<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>Blog</h1>
    <a href="{{ url_for('create_post') }}">Create New Post</a>
    <hr>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <a href="{{ url_for('edit_post', post_id=post._id) }}">Edit</a>
        <form action="{{ url_for('delete_post', post_id=post._id) }}" method="post">
            <input type="submit" value="Delete">
        </form>
        <hr>
    {% endfor %}
</body>
</html>
